load/tets
__pycache__
*.pyc
.DS_Store
threestudio/utils/vgg16-397923af.pth
static
index.html

.threestudio_cache
outputs
preprocess/dataset/head_img_new_crop
preprocess/dataset/head_img_new_inversion
preprocess_data/
sd_model/insightface/
sd_model/resnet18-5c106cde.pth
sd_model/vgg16-397923af.pth
sd_model/vgg16.pt
preprocess/PanoHead/models/easy-khair-180-gpc0.8-trans10-025000.pkl